<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.dao.AccountDao">
	<resultMap id="BaseResultMap" type="com.personal.oyl.newffms.pojo.Account">
		<id column="ACNT_OID" property="acntOid" jdbcType="DECIMAL" />
		<result column="ACNT_DESC" property="acntDesc" jdbcType="NVARCHAR" />
		<result column="ACNT_TYPE" property="acntType" jdbcType="VARCHAR" />
		<result column="BALANCE" property="balance" jdbcType="DECIMAL" />
		<result column="QUOTA" property="quota" jdbcType="DECIMAL" />
		<result column="DEBT" property="debt" jdbcType="DECIMAL" />
        <result column="OWNER_OID" property="ownerOid" jdbcType="DECIMAL" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="CREATOR_OID" property="creatorOid" jdbcType="DECIMAL" />
	</resultMap>


	<sql id="Base_Column_List">
        ACNT_OID, ACNT_DESC, ACNT_TYPE, BALANCE, QUOTA, DEBT, OWNER_OID, CREATE_TIME, CREATOR_OID
	</sql>


    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.pojo.Account">
        SELECT <include refid="Base_Column_List" />
        FROM ACCOUNT
        <where>
			<if test="acntOid != null">
				ACNT_OID = #{acntOid,jdbcType=DECIMAL}
			</if>
			<if test="acntDesc != null">
				AND ACNT_DESC = #{acntDesc,jdbcType=NVARCHAR}
			</if>
			<if test="acntType != null">
				AND ACNT_TYPE = #{acntType,jdbcType=VARCHAR}
			</if>
			<if test="balance != null">
				AND BALANCE = #{balance,jdbcType=DECIMAL}
			</if>
			<if test="quota != null">
                AND QUOTA = #{quota,jdbcType=DECIMAL}
            </if>
            <if test="debt != null">
                AND DEBT = #{debt,jdbcType=DECIMAL}
            </if>
			<if test="ownerOid != null">
				AND OWNER_OID = #{ownerOid,jdbcType=DECIMAL}
			</if>
			<if test="createTime != null">
                AND CREATE_TIME = #{createTime,jdbcType=DECIMAL}
            </if>
			<if test="creatorOid != null">
                AND CREATOR_OID = #{creatorOid,jdbcType=DECIMAL}
            </if>
        </where>
    </select>


    <delete id="delete" parameterType="com.personal.oyl.newffms.pojo.Account" >
        DELETE FROM ACCOUNT
        <where>
            <if test="acntOid != null">
                ACNT_OID = #{acntOid,jdbcType=DECIMAL}
            </if>
            <if test="acntDesc != null">
                AND ACNT_DESC = #{acntDesc,jdbcType=NVARCHAR}
            </if>
            <if test="acntType != null">
                AND ACNT_TYPE = #{acntType,jdbcType=VARCHAR}
            </if>
            <if test="balance != null">
                AND BALANCE = #{balance,jdbcType=DECIMAL}
            </if>
            <if test="quota != null">
                AND QUOTA = #{quota,jdbcType=DECIMAL}
            </if>
            <if test="debt != null">
                AND DEBT = #{debt,jdbcType=DECIMAL}
            </if>
            <if test="ownerOid != null">
                AND OWNER_OID = #{ownerOid,jdbcType=DECIMAL}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime,jdbcType=DECIMAL}
            </if>
            <if test="creatorOid != null">
                AND CREATOR_OID = #{creatorOid,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.pojo.Account">
        INSERT INTO ACCOUNT(<include refid="Base_Column_List" />)
        VALUES (#{acntOid,jdbcType=DECIMAL}, #{acntDesc,jdbcType=NVARCHAR}, #{acntType,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{quota,jdbcType=DECIMAL},
        #{debt,jdbcType=DECIMAL}, #{ownerOid,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{creatorOid,jdbcType=DECIMAL})
    </insert>
    
    
    <update id="updateByKeySelectively" parameterType="com.personal.oyl.newffms.pojo.Account">
        UPDATE ACCOUNT
        <set>
            <if test="acntDesc != null">
                ACNT_DESC = #{acntDesc,jdbcType=NVARCHAR},
            </if>
            <if test="acntType != null">
                ACNT_TYPE = #{acntType,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                BALANCE = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="quota != null">
                QUOTA = #{quota,jdbcType=DECIMAL},
            </if>
            <if test="debt != null">
                DEBT = #{debt,jdbcType=DECIMAL},
            </if>
            <if test="ownerOid != null">
                OWNER_OID = #{ownerOid,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=DECIMAL},
            </if>
            <if test="creatorOid != null">
                CREATOR_OID = #{creatorOid,jdbcType=DECIMAL},
            </if>
        </set>
        WHERE ACNT_OID = #{acntOid,jdbcType=DECIMAL}
    </update>
    
    
    <update id="updateByKey" parameterType="com.personal.oyl.newffms.pojo.Account">
        UPDATE ACCOUNT
        SET
            ACNT_DESC = #{acntDesc,jdbcType=NVARCHAR},
            ACNT_TYPE = #{acntType,jdbcType=VARCHAR},
            BALANCE = #{balance,jdbcType=DECIMAL},
            QUOTA = #{quota,jdbcType=DECIMAL},
            DEBT = #{debt,jdbcType=DECIMAL},
            OWNER_OID = #{ownerOid,jdbcType=DECIMAL},
            CREATE_TIME = #{createTime,jdbcType=DECIMAL},
            CREATOR_OID = #{creatorOid,jdbcType=DECIMAL}
        WHERE ACNT_OID = #{acntOid,jdbcType=DECIMAL}
    </update>
    
</mapper>