<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.dao.AccountDao">
	<resultMap id="BaseResultMap" type="com.personal.oyl.newffms.pojo.Account">
		<id column="ACNT_OID" property="acntOid" jdbcType="DECIMAL" />
		<result column="ACNT_DESC" property="acntDesc" jdbcType="NVARCHAR" />
		<result column="ACNT_TYPE" property="acntType" jdbcType="VARCHAR" />
		<result column="BALANCE" property="balance" jdbcType="DECIMAL" />
		<result column="QUOTA" property="quota" jdbcType="DECIMAL" />
		<result column="DEBT" property="debt" jdbcType="DECIMAL" />
        <result column="OWNER_OID" property="ownerOid" jdbcType="DECIMAL" />
        <result column="CREATE_TIME" property="baseObject.createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="baseObject.updateTime" jdbcType="TIMESTAMP" />
        <result column="CREATE_BY" property="baseObject.createBy" jdbcType="NVARCHAR" />
        <result column="UPDATE_BY" property="baseObject.updateBy" jdbcType="NVARCHAR" />
        <result column="SEQ_NO" property="baseObject.seqNo" jdbcType="DECIMAL" />
	</resultMap>


	<sql id="Base_Column_List">
        ACNT_OID, ACNT_DESC, ACNT_TYPE, BALANCE, QUOTA, DEBT, OWNER_OID, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY, SEQ_NO
	</sql>


    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.pojo.Account">
        SELECT <include refid="Base_Column_List" />
        FROM ACCOUNT
        <where>
			<if test="acntOid != null">
				ACNT_OID = #{acntOid,jdbcType=DECIMAL}
			</if>
			<if test="acntDesc != null">
				AND ACNT_DESC = #{acntDesc,jdbcType=NVARCHAR}
			</if>
			<if test="acntType != null">
				AND ACNT_TYPE = #{acntType,jdbcType=VARCHAR}
			</if>
			<if test="balance != null">
				AND BALANCE = #{balance,jdbcType=DECIMAL}
			</if>
			<if test="quota != null">
                AND QUOTA = #{quota,jdbcType=DECIMAL}
            </if>
            <if test="debt != null">
                AND DEBT = #{debt,jdbcType=DECIMAL}
            </if>
			<if test="ownerOid != null">
				AND OWNER_OID = #{ownerOid,jdbcType=DECIMAL}
			</if>
			<if test="baseObject != null and baseObject.createTime != null">
                AND CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                AND UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                AND CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                AND UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.seqNo != null">
                AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
            </if>
        </where>
    </select>


    <delete id="delete" parameterType="com.personal.oyl.newffms.pojo.Account" >
        DELETE FROM ACCOUNT
        <where>
            <if test="acntOid != null">
                ACNT_OID = #{acntOid,jdbcType=DECIMAL}
            </if>
            <if test="acntDesc != null">
                AND ACNT_DESC = #{acntDesc,jdbcType=NVARCHAR}
            </if>
            <if test="acntType != null">
                AND ACNT_TYPE = #{acntType,jdbcType=VARCHAR}
            </if>
            <if test="balance != null">
                AND BALANCE = #{balance,jdbcType=DECIMAL}
            </if>
            <if test="quota != null">
                AND QUOTA = #{quota,jdbcType=DECIMAL}
            </if>
            <if test="debt != null">
                AND DEBT = #{debt,jdbcType=DECIMAL}
            </if>
            <if test="ownerOid != null">
                AND OWNER_OID = #{ownerOid,jdbcType=DECIMAL}
            </if>
            <if test="baseObject != null and baseObject.createTime != null">
                AND CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                AND UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                AND CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                AND UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.seqNo != null">
                AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.pojo.Account">
        INSERT INTO ACCOUNT(<include refid="Base_Column_List" />)
        VALUES (#{acntOid,jdbcType=DECIMAL}, #{acntDesc,jdbcType=NVARCHAR}, #{acntType,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{quota,jdbcType=DECIMAL},
        #{debt,jdbcType=DECIMAL}, #{ownerOid,jdbcType=DECIMAL},
        #{baseObject.createTime,jdbcType=TIMESTAMP}, #{baseObject.updateTime,jdbcType=TIMESTAMP}, #{baseObject.createBy,jdbcType=NVARCHAR}, #{baseObject.updateBy,jdbcType=NVARCHAR}, #{baseObject.seqNo,jdbcType=DECIMAL})
    </insert>
    
    
    <update id="updateByKeySelectively" parameterType="com.personal.oyl.newffms.pojo.Account">
        UPDATE ACCOUNT
        <set>
            SEQ_NO = SEQ_NO + 1,
            <if test="acntDesc != null">
                ACNT_DESC = #{acntDesc,jdbcType=NVARCHAR},
            </if>
            <if test="acntType != null">
                ACNT_TYPE = #{acntType,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                BALANCE = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="quota != null">
                QUOTA = #{quota,jdbcType=DECIMAL},
            </if>
            <if test="debt != null">
                DEBT = #{debt,jdbcType=DECIMAL},
            </if>
            <if test="ownerOid != null">
                OWNER_OID = #{ownerOid,jdbcType=DECIMAL},
            </if>
            <if test="baseObject != null and baseObject.createTime != null">
                CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR},
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR},
            </if>
        </set>
        WHERE ACNT_OID = #{acntOid,jdbcType=DECIMAL} AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
    </update>
    
    
    <update id="updateByKey" parameterType="com.personal.oyl.newffms.pojo.Account">
        UPDATE ACCOUNT
        SET
            SEQ_NO = SEQ_NO + 1,
            ACNT_DESC = #{acntDesc,jdbcType=NVARCHAR},
            ACNT_TYPE = #{acntType,jdbcType=VARCHAR},
            BALANCE = #{balance,jdbcType=DECIMAL},
            QUOTA = #{quota,jdbcType=DECIMAL},
            DEBT = #{debt,jdbcType=DECIMAL},
            OWNER_OID = #{ownerOid,jdbcType=DECIMAL},
            CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR},
            UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
        WHERE ACNT_OID = #{acntOid,jdbcType=DECIMAL} AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
    </update>
    
    
    <resultMap id="queryAccountsResultMap" type="com.personal.oyl.newffms.pojo.Account">
        <id column="ACNT_OID" property="acntOid" jdbcType="DECIMAL" />
        <result column="ACNT_DESC" property="acntDesc" jdbcType="NVARCHAR" />
        <result column="ACNT_TYPE" property="acntType" jdbcType="VARCHAR" />
        <result column="BALANCE" property="balance" jdbcType="DECIMAL" />
        <result column="QUOTA" property="quota" jdbcType="DECIMAL" />
        <result column="DEBT" property="debt" jdbcType="DECIMAL" />
        <result column="OWNER_OID" property="ownerOid" jdbcType="DECIMAL" />
        <result column="CREATE_TIME" property="baseObject.createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="baseObject.updateTime" jdbcType="TIMESTAMP" />
        <result column="CREATE_BY" property="baseObject.createBy" jdbcType="NVARCHAR" />
        <result column="UPDATE_BY" property="baseObject.updateBy" jdbcType="NVARCHAR" />
        <result column="SEQ_NO" property="baseObject.seqNo" jdbcType="DECIMAL" />
        <result column="USER_NAME" property="ownerUserName" jdbcType="NVARCHAR" />
    </resultMap>
    <select id="queryAccounts" resultMap="queryAccountsResultMap" >
        SELECT ACNT_OID, ACNT_DESC, ACNT_TYPE, BALANCE, QUOTA, DEBT, OWNER_OID, USER_NAME
        FROM ACCOUNT, USER_PROFILE
        WHERE ACCOUNT.OWNER_OID = USER_PROFILE.USER_OID
    </select>
    
    <resultMap id="queryAccountsByConsumptionResultMap" type="com.personal.oyl.newffms.pojo.Account">
        <id column="ACNT_OID" property="acntOid" jdbcType="DECIMAL" />
        <result column="ACNT_DESC" property="acntDesc" jdbcType="NVARCHAR" />
        <result column="ACNT_TYPE" property="acntType" jdbcType="VARCHAR" />
        <result column="BALANCE" property="balance" jdbcType="DECIMAL" />
        <result column="QUOTA" property="quota" jdbcType="DECIMAL" />
        <result column="DEBT" property="debt" jdbcType="DECIMAL" />
        <result column="OWNER_OID" property="ownerOid" jdbcType="DECIMAL" />
        <result column="PAYMENT" property="payment" jdbcType="DECIMAL" />
        <result column="USER_NAME" property="ownerUserName" jdbcType="NVARCHAR" />
    </resultMap>
    <select id="queryAccountsByConsumption" resultMap="queryAccountsByConsumptionResultMap" parameterType="java.math.BigDecimal" >
        SELECT A.ACNT_OID, ACNT_DESC, ACNT_TYPE, BALANCE, QUOTA, DEBT, OWNER_OID, AMOUNT AS PAYMENT, U.USER_NAME
        FROM ACCOUNT A, ACCOUNT_CONSUMPTION B, USER_PROFILE U
        WHERE A.ACNT_OID = B.ACNT_OID
        AND A.OWNER_OID = U.USER_OID
        AND B.CPN_OID = #{cpnOid,jdbcType=DECIMAL}
    </select>
    
    <resultMap id="queryAccountsByIncomingResultMap" type="com.personal.oyl.newffms.pojo.Account">
        <id column="ACNT_OID" property="acntOid" jdbcType="DECIMAL" />
        <result column="ACNT_DESC" property="acntDesc" jdbcType="NVARCHAR" />
        <result column="ACNT_TYPE" property="acntType" jdbcType="VARCHAR" />
        <result column="BALANCE" property="balance" jdbcType="DECIMAL" />
        <result column="QUOTA" property="quota" jdbcType="DECIMAL" />
        <result column="DEBT" property="debt" jdbcType="DECIMAL" />
        <result column="OWNER_OID" property="ownerOid" jdbcType="DECIMAL" />
        <result column="USER_NAME" property="ownerUserName" jdbcType="NVARCHAR" />
    </resultMap>
    <select id="queryAccountsByIncoming" resultMap="queryAccountsByConsumptionResultMap" parameterType="java.math.BigDecimal" >
        SELECT A.ACNT_OID, ACNT_DESC, ACNT_TYPE, BALANCE, QUOTA, DEBT, OWNER_OID, U.USER_NAME
        FROM ACCOUNT A, ACCOUNT_INCOMING B, USER_PROFILE U
        WHERE A.ACNT_OID = B.ACNT_OID
        AND A.OWNER_OID = U.USER_OID
        AND B.INCOMING_OID = #{incomingOid,jdbcType=DECIMAL}
    </select>
    
</mapper>