<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.dao.CategoryDao">
	<resultMap id="BaseResultMap" type="com.personal.oyl.newffms.pojo.Category">
		<id column="CATEGORY_OID" property="categoryOid" jdbcType="DECIMAL" />
		<result column="CATEGORY_DESC" property="categoryDesc" jdbcType="NVARCHAR" />
		<result column="MONTHLY_BUDGET" property="monthlyBudget" jdbcType="DECIMAL" />
		<result column="CATEGORY_LEVEL" property="categoryLevel" jdbcType="DECIMAL" />
		<result column="IS_LEAF" property="isLeaf" jdbcType="BIT" />
        <result column="PARENT_OID" property="parentOid" jdbcType="DECIMAL" />
        <result column="CREATE_TIME" property="baseObject.createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="baseObject.updateTime" jdbcType="TIMESTAMP" />
        <result column="CREATE_BY" property="baseObject.createBy" jdbcType="NVARCHAR" />
        <result column="UPDATE_BY" property="baseObject.updateBy" jdbcType="NVARCHAR" />
        <result column="SEQ_NO" property="baseObject.seqNo" jdbcType="DECIMAL" />
	</resultMap>


	<sql id="Base_Column_List">
        CATEGORY_OID, CATEGORY_DESC, MONTHLY_BUDGET, CATEGORY_LEVEL, IS_LEAF, PARENT_OID, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY, SEQ_NO
	</sql>


    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.pojo.Category">
        SELECT <include refid="Base_Column_List" />
        FROM CATEGORY
        <where>
			<if test="categoryOid != null">
				CATEGORY_OID = #{categoryOid,jdbcType=DECIMAL}
			</if>
			<if test="categoryDesc != null">
				AND CATEGORY_DESC = #{categoryDesc,jdbcType=NVARCHAR}
			</if>
			<if test="monthlyBudget != null">
				AND MONTHLY_BUDGET = #{monthlyBudget,jdbcType=DECIMAL}
			</if>
			<if test="categoryLevel != null">
                AND CATEGORY_LEVEL = #{categoryLevel,jdbcType=DECIMAL}
            </if>
            <if test="isLeaf != null">
                AND IS_LEAF = #{isLeaf,jdbcType=DECIMAL}
            </if>
			<if test="parentOid != null">
				AND PARENT_OID = #{parentOid,jdbcType=DECIMAL}
			</if>
			<if test="baseObject != null and baseObject.createTime != null">
                AND CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                AND UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                AND CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                AND UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.seqNo != null">
                AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
            </if>
        </where>
    </select>


    <delete id="delete" parameterType="com.personal.oyl.newffms.pojo.Category" >
        DELETE FROM CATEGORY
        <where>
            <if test="categoryOid != null">
                CATEGORY_OID = #{categoryOid,jdbcType=DECIMAL}
            </if>
            <if test="categoryDesc != null">
                AND CATEGORY_DESC = #{categoryDesc,jdbcType=NVARCHAR}
            </if>
            <if test="monthlyBudget != null">
                AND MONTHLY_BUDGET = #{monthlyBudget,jdbcType=DECIMAL}
            </if>
            <if test="categoryLevel != null">
                AND CATEGORY_LEVEL = #{categoryLevel,jdbcType=DECIMAL}
            </if>
            <if test="isLeaf != null">
                AND IS_LEAF = #{isLeaf,jdbcType=DECIMAL}
            </if>
            <if test="parentOid != null">
                AND PARENT_OID = #{parentOid,jdbcType=DECIMAL}
            </if>
            <if test="baseObject != null and baseObject.createTime != null">
                AND CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                AND UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                AND CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                AND UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.seqNo != null">
                AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.pojo.Category" useGeneratedKeys="true" keyProperty="categoryOid">
        INSERT INTO CATEGORY(CATEGORY_DESC, MONTHLY_BUDGET, CATEGORY_LEVEL, IS_LEAF, PARENT_OID, CREATE_TIME, CREATE_BY)
        VALUES (#{categoryDesc,jdbcType=NVARCHAR}, #{monthlyBudget,jdbcType=DECIMAL}, #{categoryLevel,jdbcType=DECIMAL}, #{isLeaf,jdbcType=BIT}, #{parentOid,jdbcType=DECIMAL},
        #{baseObject.createTime,jdbcType=TIMESTAMP}, #{baseObject.createBy,jdbcType=NVARCHAR})
    </insert>
    
    
    <update id="updateByKeySelectively" parameterType="com.personal.oyl.newffms.pojo.Category">
        UPDATE CATEGORY
        <set>
            SEQ_NO = SEQ_NO + 1,
            <if test="categoryDesc != null">
                CATEGORY_DESC = #{categoryDesc,jdbcType=NVARCHAR},
            </if>
            <if test="monthlyBudget != null">
                MONTHLY_BUDGET = #{monthlyBudget,jdbcType=DECIMAL},
            </if>
            <if test="categoryLevel != null">
                CATEGORY_LEVEL = #{categoryLevel,jdbcType=DECIMAL},
            </if>
            <if test="isLeaf != null">
                IS_LEAF = #{isLeaf,jdbcType=DECIMAL},
            </if>
            <if test="parentOid != null">
                PARENT_OID = #{parentOid,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=DECIMAL},
            </if>
            <if test="creatorOid != null">
                CREATOR_OID = #{creatorOid,jdbcType=DECIMAL},
            </if>
            <if test="baseObject != null and baseObject.createTime != null">
                CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR},
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR},
            </if>
        </set>
        WHERE CATEGORY_OID = #{categoryOid,jdbcType=DECIMAL} AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
    </update>
    
    
    <update id="updateByKey" parameterType="com.personal.oyl.newffms.pojo.Category">
        UPDATE CATEGORY
        SET
            SEQ_NO = SEQ_NO + 1,
            CATEGORY_DESC = #{categoryDesc,jdbcType=NVARCHAR},
            MONTHLY_BUDGET = #{monthlyBudget,jdbcType=DECIMAL},
            CATEGORY_LEVEL = #{categoryLevel,jdbcType=DECIMAL},
            IS_LEAF = #{isLeaf,jdbcType=DECIMAL},
            PARENT_OID = #{parentOid,jdbcType=DECIMAL},
            CREATE_TIME = #{createTime,jdbcType=DECIMAL},
            CREATOR_OID = #{creatorOid,jdbcType=DECIMAL},
            CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR},
            UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
        WHERE CATEGORY_OID = #{categoryOid,jdbcType=DECIMAL} AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
    </update>
    
</mapper>