<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.dao.ConsumptionDao">
	<resultMap id="BaseResultMap" type="com.personal.oyl.newffms.pojo.Consumption">
		<id column="CPN_OID" property="cpnOid" jdbcType="DECIMAL" />
		<result column="CPN_TYPE" property="cpnType" jdbcType="VARCHAR" />
		<result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
		<result column="CPN_TIME" property="cpnTime" jdbcType="TIMESTAMP" />
		<result column="CONFIRMED" property="confirmed" jdbcType="BIT" />
		<result column="CREATE_TIME" property="baseObject.createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="baseObject.updateTime" jdbcType="TIMESTAMP" />
        <result column="CREATE_BY" property="baseObject.createBy" jdbcType="NVARCHAR" />
        <result column="UPDATE_BY" property="baseObject.updateBy" jdbcType="NVARCHAR" />
        <result column="SEQ_NO" property="baseObject.seqNo" jdbcType="DECIMAL" />
	</resultMap>


	<sql id="Base_Column_List">
        CPN_OID, CPN_TYPE, AMOUNT, CPN_TIME, CONFIRMED, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY, SEQ_NO
	</sql>


    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.pojo.Consumption">
        SELECT <include refid="Base_Column_List" />
        FROM CONSUMPTION
        <where>
			<if test="cpnOid != null">
				CPN_OID = #{cpnOid,jdbcType=DECIMAL}
			</if>
			<if test="cpnType != null">
				AND CPN_TYPE = #{cpnType,jdbcType=VARCHAR}
			</if>
			<if test="amount != null">
				AND AMOUNT = #{amount,jdbcType=DECIMAL}
			</if>
			<if test="cpnTime != null">
                AND CPN_TIME = #{cpnTime,jdbcType=TIMESTAMP}
            </if>
            <if test="confirmed != null">
                AND CONFIRMED = #{confirmed,jdbcType=BIT}
            </if>
            <if test="baseObject != null and baseObject.createTime != null">
                AND CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                AND UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                AND CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                AND UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.seqNo != null">
                AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
            </if>
        </where>
    </select>


    <delete id="delete" parameterType="com.personal.oyl.newffms.pojo.Consumption" >
        DELETE FROM CONSUMPTION
        <where>
            <if test="cpnOid != null">
                CPN_OID = #{cpnOid,jdbcType=DECIMAL}
            </if>
            <if test="cpnType != null">
                AND CPN_TYPE = #{cpnType,jdbcType=VARCHAR}
            </if>
            <if test="amount != null">
                AND AMOUNT = #{amount,jdbcType=DECIMAL}
            </if>
            <if test="cpnTime != null">
                AND CPN_TIME = #{cpnTime,jdbcType=TIMESTAMP}
            </if>
            <if test="confirmed != null">
                AND CONFIRMED = #{confirmed,jdbcType=BIT}
            </if>
            <if test="baseObject != null and baseObject.createTime != null">
                AND CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                AND UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                AND CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                AND UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.seqNo != null">
                AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.pojo.Consumption" useGeneratedKeys="true" keyProperty="cpnOid">
        INSERT INTO CONSUMPTION(CPN_TYPE, AMOUNT, CPN_TIME, CONFIRMED, CREATE_TIME, CREATE_BY)
        VALUES (#{cpnType,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{cpnTime,jdbcType=TIMESTAMP}, #{confirmed,jdbcType=BIT},
        #{baseObject.createTime,jdbcType=TIMESTAMP}, #{baseObject.createBy,jdbcType=NVARCHAR})
    </insert>
    
    
    <update id="updateByKeySelectively" parameterType="com.personal.oyl.newffms.pojo.Consumption">
        UPDATE CONSUMPTION
        
        <set>
        SEQ_NO = SEQ_NO + 1,
        <if test="cpnType != null">
            CPN_TYPE = #{cpnType,jdbcType=VARCHAR},
        </if>
        <if test="amount != null">
            AMOUNT = #{amount,jdbcType=DECIMAL},
        </if>
        <if test="cpnTime != null">
            CPN_TIME = #{cpnTime,jdbcType=TIMESTAMP},
        </if>
        <if test="confirmed != null">
            CONFIRMED = #{confirmed,jdbcType=BIT},
        </if>
        <if test="baseObject != null and baseObject.createTime != null">
            CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="baseObject != null and baseObject.updateTime != null">
            UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="baseObject != null and baseObject.createBy != null">
            CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR},
        </if>
        <if test="baseObject != null and baseObject.updateBy != null">
            UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR},
        </if>
        </set>
        WHERE CPN_OID = #{cpnOid,jdbcType=DECIMAL} AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
    </update>
    
    
    <update id="updateByKey" parameterType="com.personal.oyl.newffms.pojo.Consumption">
        UPDATE CONSUMPTION
        SET
            SEQ_NO = SEQ_NO + 1,
            CPN_TYPE = #{cpnType,jdbcType=VARCHAR},
            AMOUNT = #{amount,jdbcType=DECIMAL},
            CPN_TIME = #{cpnTime,jdbcType=TIMESTAMP},
            CONFIRMED = #{confirmed,jdbcType=BIT},
            CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR},
            UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
        WHERE CPN_OID = #{cpnOid,jdbcType=DECIMAL} AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
    </update>
    
</mapper>