<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.dao.IncomingDao">
	<resultMap id="BaseResultMap" type="com.personal.oyl.newffms.pojo.Incoming">
		<id column="INCOMING_OID" property="incomingOid" jdbcType="DECIMAL" />
		<result column="INCOMING_DESC" property="incomingDesc" jdbcType="NVARCHAR" />
		<result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
		<result column="INCOMING_TYPE" property="incomingType" jdbcType="VARCHAR" />
		<result column="CONFIRMED" property="confirmed" jdbcType="BIT" />
        <result column="OWNER_OID" property="ownerOid" jdbcType="DECIMAL" />
        <result column="INCOMING_DATE" property="incomingDate" jdbcType="TIMESTAMP" />
        <result column="CREATE_TIME" property="baseObject.createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="baseObject.updateTime" jdbcType="TIMESTAMP" />
        <result column="CREATE_BY" property="baseObject.createBy" jdbcType="NVARCHAR" />
        <result column="UPDATE_BY" property="baseObject.updateBy" jdbcType="NVARCHAR" />
        <result column="SEQ_NO" property="baseObject.seqNo" jdbcType="DECIMAL" />
	</resultMap>


	<sql id="Base_Column_List">
        INCOMING_OID, INCOMING_DESC, AMOUNT, INCOMING_TYPE, CONFIRMED, OWNER_OID, INCOMING_DATE, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY, SEQ_NO
	</sql>


    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.pojo.Incoming">
        SELECT <include refid="Base_Column_List" />
        FROM INCOMING
        <where>
			<if test="incomingOid != null">
				INCOMING_OID = #{incomingOid,jdbcType=DECIMAL}
			</if>
			<if test="incomingDesc != null">
				AND INCOMING_DESC = #{incomingDesc,jdbcType=NVARCHAR}
			</if>
			<if test="amount != null">
				AND AMOUNT = #{amount,jdbcType=DECIMAL}
			</if>
			<if test="incomingType != null">
                AND INCOMING_TYPE = #{incomingType,jdbcType=VARCHAR}
            </if>
            <if test="confirmed != null">
                AND CONFIRMED = #{confirmed,jdbcType=BIT}
            </if>
			<if test="ownerOid != null">
				AND OWNER_OID = #{ownerOid,jdbcType=DECIMAL}
			</if>
			<if test="incomingDate != null">
                AND INCOMING_DATE = #{incomingDate,jdbcType=TIMESTAMP}
            </if>
			<if test="baseObject != null and baseObject.createTime != null">
                AND CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                AND UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                AND CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                AND UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.seqNo != null">
                AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
            </if>
        </where>
    </select>


    <delete id="delete" parameterType="com.personal.oyl.newffms.pojo.Incoming" >
        DELETE FROM INCOMING
        <where>
            <if test="incomingOid != null">
                INCOMING_OID = #{incomingOid,jdbcType=DECIMAL}
            </if>
            <if test="incomingDesc != null">
                AND INCOMING_DESC = #{incomingDesc,jdbcType=NVARCHAR}
            </if>
            <if test="amount != null">
                AND AMOUNT = #{amount,jdbcType=DECIMAL}
            </if>
            <if test="incomingType != null">
                AND INCOMING_TYPE = #{incomingType,jdbcType=VARCHAR}
            </if>
            <if test="confirmed != null">
                AND CONFIRMED = #{confirmed,jdbcType=BIT}
            </if>
            <if test="ownerOid != null">
                AND OWNER_OID = #{ownerOid,jdbcType=DECIMAL}
            </if>
            <if test="incomingDate != null">
                AND INCOMING_DATE = #{incomingDate,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createTime != null">
                AND CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                AND UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                AND CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                AND UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
            </if>
            <if test="baseObject != null and baseObject.seqNo != null">
                AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.pojo.Incoming" useGeneratedKeys="true" keyProperty="incomingOid">
        INSERT INTO INCOMING(INCOMING_DESC, AMOUNT, INCOMING_TYPE, CONFIRMED, OWNER_OID, INCOMING_DATE, CREATE_TIME, CREATE_BY)
        VALUES (#{incomingDesc,jdbcType=NVARCHAR}, #{amount,jdbcType=DECIMAL}, #{incomingType,jdbcType=VARCHAR},
                #{confirmed,jdbcType=BIT}, #{ownerOid,jdbcType=DECIMAL}, #{incomingDate,jdbcType=TIMESTAMP},
                #{baseObject.createTime,jdbcType=TIMESTAMP}, #{baseObject.createBy,jdbcType=NVARCHAR})
    </insert>
    
    
    <update id="updateByKeySelectively" parameterType="com.personal.oyl.newffms.pojo.Incoming">
        UPDATE INCOMING
        <set>
            SEQ_NO = SEQ_NO + 1,
            <if test="incomingDesc != null">
                INCOMING_DESC = #{incomingDesc,jdbcType=NVARCHAR},
            </if>
            <if test="amount != null">
                AMOUNT = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="incomingType != null">
                INCOMING_TYPE = #{incomingType,jdbcType=VARCHAR},
            </if>
            <if test="confirmed != null">
                CONFIRMED = #{confirmed,jdbcType=BIT},
            </if>
            <if test="ownerOid != null">
                OWNER_OID = #{ownerOid,jdbcType=DECIMAL},
            </if>
            <if test="incomingDate != null">
                INCOMING_DATE = #{incomingDate,jdbcType=TIMESTAMP},
            </if>
            <if test="baseObject != null and baseObject.createTime != null">
                CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baseObject != null and baseObject.updateTime != null">
                UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baseObject != null and baseObject.createBy != null">
                CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR},
            </if>
            <if test="baseObject != null and baseObject.updateBy != null">
                UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR},
            </if>
        </set>
        WHERE INCOMING_OID = #{incomingOid,jdbcType=DECIMAL} AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
    </update>
    
    
    <update id="updateByKey" parameterType="com.personal.oyl.newffms.pojo.Incoming">
        UPDATE INCOMING
        SET
            SEQ_NO = SEQ_NO + 1,
            INCOMING_DESC = #{incomingDesc,jdbcType=NVARCHAR},
            AMOUNT = #{amount,jdbcType=DECIMAL},
            INCOMING_TYPE = #{incomingType,jdbcType=VARCHAR},
            CONFIRMED = #{confirmed,jdbcType=BIT},
            OWNER_OID = #{ownerOid,jdbcType=DECIMAL},
            INCOMING_DATE = #{incomingDate,jdbcType=TIMESTAMP},
            CREATE_TIME = #{baseObject.createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME = #{baseObject.updateTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{baseObject.createBy,jdbcType=NVARCHAR},
            UPDATE_BY = #{baseObject.updateBy,jdbcType=NVARCHAR}
        WHERE INCOMING_OID = #{incomingOid,jdbcType=DECIMAL} AND SEQ_NO = #{baseObject.seqNo,jdbcType=DECIMAL}
    </update>
    
</mapper>